<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <configSections>
    <section name="DBClass" type="Classes.Database.cs" />
  </configSections>
  <connectionStrings>
    <add name="DBConnection" providerName="MSSQL" connectionString="Data Source=(local);Initial Catalog=project;Integrated Security=True" />
  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>
  </configuration>
